{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Thanks for being weird</h1>
    <p class="lead">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Inquisitor</label>
          <input type="text" class="form-control" id="inquisitor" placeholder="Who's asking">
        </div>
        <p></p>
        <div class="form-group">
          <label for="exampleInputPassword1">Question</label>
          <input type="question" class="form-control" id="question" placeholder="The Question">
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary btn-lg">Post</button>
      </form>
    </p>
</div>

</div>
{% endblock %}