{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Friday Fun Question Shit</h1>
    <p class="lead">
        Do you need a question to wonder about self knowledge, life meaning and shit?
    </p>
    <p class="lead">
        Do you wanna know how weird is your colleague sat next to you?
    </p>
    <p class="lead">
        If not, then you are in the wrong place
    </p>
    <p class="lead">
    <p></p>
    <a class="btn btn-primary btn-lg" href="/get-question" role="button">Random Question</a>
  </p>
</div>

</div>
{% endblock %}