{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Thanks for being weird</h1>
    <p class="lead">
    <form>
      <div class="form-group">
        <label for="author">Inquisitor</label>
        <input type="text" class="form-control" id="author" placeholder="Who's asking">
      </div>
      <p></p>
      <div class="form-group">
        <label for="question">Question</label>
        <input type="question" class="form-control" id="question" placeholder="¿Qué wea andai sapiando ctm?">
      </div>
      <p></p>
      <button type="submit" class="btn btn-primary btn-lg">Post</button>
    </form>
    </p>
  </div>

</div>
{% endblock %}